{% extends 'base.html.twig' %}

{% block title %}RoadSection index{% endblock %}

{% block body %}
    <h1>RoadSection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RoadNumber</th>
                <th>Name</th>
                <th>SectionStart</th>
                <th>SectionFinish</th>
                <th>Level</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for road_section in road_sections %}
            <tr>
                <td>{{ road_section.id }}</td>
                <td>{{ road_section.roadNumber }}</td>
                <td>{{ road_section.name }}</td>
                <td>{{ road_section.sectionStart }}</td>
                <td>{{ road_section.sectionFinish }}</td>
                <td>{{ road_section.level }}</td>
                <td>{{ road_section.type }}</td>
                <td>
                    <a href="{{ path('road_section_show', {'id': road_section.id}) }}">show</a>
                    <a href="{{ path('road_section_edit', {'id': road_section.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('road_section_new') }}">Create new</a>
{% endblock %}
