{% extends 'base.html.twig' %}

{% block title %}Section index{% endblock %}

{% block body %}
    <h1>Section index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Kelias</th>
                <th>Pradžia</th>
                <th>Pabaiga</th>
                <th>Veiksmai</th>
                <th>Trinti</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ section.road.selectName }}</td>
                <td>{{ section.start }}</td>
                <td>{{ section.finish }}</td>
                <td>
                    <a href="{{ path('section_edit', {'id': section.id}) }}">Redaguoti</a>
                </td>
                <td>{{ include('section/_delete_form.html.twig') }}</td> 
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nėra jokių įrašų</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('section_new') }}">Sukurti naują</a>
{% endblock %}
