{% extends 'base.html.twig' %}

{% block title %}Cipher index{% endblock %}

{% block body %}
    <h1>Cipher index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cipher</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cipher in ciphers %}
            <tr>
                <td>{{ cipher.id }}</td>
                <td>{{ cipher.cipher }}</td>
                <td>{{ cipher.name }}</td>
                <td>
                    <a href="{{ path('cipher_edit', {'id': cipher.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cipher_new') }}">Create new</a>
{% endblock %}
