{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}
    <h1>Job index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>cipher</th>
                <th>name</th>
                <th>road</th>
                <th>start</th>
                <th>finish</th>
                <th>distance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.cipher.cipher }}</td>
                <td>{{ job.cipher.name }}</td>
                <td>{{ job.section.name }}</td>
                <td>{{ job.section.sectionStart }}</td>
                <td>{{ job.section.sectionFinish }}</td>
                <td>{{ job.distance }}</td>
                <td>
                    <a href="{{ path('job_show', {'id': job.id}) }}">show</a>
                    <a href="{{ path('job_edit', {'id': job.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job_new') }}">Create new</a>
{% endblock %}
