{% extends 'base.html.twig' %}

{% block title %}Darbai{% endblock %}

{% block body %}
    <h1>Darbai</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Šifras</th>
                <th>Darbas</th>
                <th>Kelias</th>
                <th>Pradžia</th>
                <th>Pabaiga</th>
                <th>Mato vnt.</th>
                <th>Kiekis</th>
                {{ is_admin()?'<th>Veiksmai</th>':''}}       
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.cipher.cipher }}</td>
                <td>{{ job.cipher.name }}</td>
                <td>{{ job.section.road.number }} {{ job.section.road.name }}</td>                
                <td>{{ job.section.start }}</td>
                <td>{{ job.section.finish }}</td>
                <td>{{ job.cipher.metric.name }}</td>
                <td>{{ job.distance }}</td>
                {% if is_admin() %}
                    <td><a href="{{ path('job_edit', {'id': job.id}) }}">Redaguoti</a></td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job_new') }}">Užpildyti naują darbą</a>
{% endblock %}
