{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
    <h1>Job</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Šifras</th>
                <td>{{ job.cipher.cipher }}</td>
            </tr>
            <tr>
                <th>Pavadinimas</th>
                <td>{{ job.cipher.name  }}</td>
            </tr>
            <tr>
                <th>Kelias</th>
                <td>{{ job.section.name }}</td>
            </tr>
            <tr>
                <th>Nuo</th>
                <td>{{ job.section.sectionStart }}</td>
            </tr>
            <tr>
                <th>Iki</th>
                <td>{{ job.section.sectionFinish }}</td>
            </tr>
            <tr>
                <th>Atstumas</th>
                <td>{{ job.distance }}</td>
            </tr>
            <tr>
                <th>Matmuo</th>
                <td>km</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('job_index') }}">back to list</a>

    <a href="{{ path('job_edit', {'id': job.id}) }}">edit</a>

    {{ include('job/_delete_form.html.twig') }}
{% endblock %}
